/* Estilos generales del body */
body {
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* Contenedor principal */
.container {
  background: rgba(165, 160, 184, 0.774);
  border-radius: 10px;
  margin-bottom: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Navbar - Fijo en la parte superior */
.navbar {
  background: linear-gradient(to right, #4f3596, #37535f);
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
}

/* Estilo de la marca (logo en el navbar) */
.navbar-brand {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Estilo del logo */
.style-logo {
  width: 100px;
  height: auto;
  border-radius: 50px;
  margin-left: 10px;
}

/* Estilo para centrar el título */
.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110px;
  overflow: hidden;
}

/* Estilo para las imágenes redondeadas */
.img-fluid {
  border-radius: 50%;
}

/* Estilo para las pantallas */
.contenedor-pantallas-cichas {
  width: 100%;
  height: 110px !important;
}

/* Estilo del sidebar */
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 280px;
  background-color: #212529;
  z-index: 1000;
}

/* Estilo de los enlaces en el sidebar */
.sidebar .nav-link {
  margin-bottom: 20px;
  font-size: 23px !important;
}

/* Efecto hover en los enlaces del sidebar */
.sidebar .nav-link:hover {
  background: linear-gradient(to right, #744fda, #6d90a0);
  color: #fff;
  border-radius: 5px;
  transform: scale(1.05);
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo del logo en el cuestionario */
.questioanry-logo {
  width: 30% !important;
  height: 110px;
}

/* Estilo para el cuestionario de /play */
.question h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo para las respuestas */
.answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo para las etiquetas de las opciones */
.question {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo del botón principal */
.btn-primary {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

/* Estilo para los inputs de las respuestas */
.form-check-input {
  margin-right: 10px;
}

/* Estilo para las opciones de respuesta */
.answer-option {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 300px;
  height: 50px;
}

/* Efecto hover en las opciones de respuesta */
.answer-option:hover {
  background-color: #f0f0f0;
}

/* Efecto active (al hacer clic) en las opciones de respuesta */
.answer-option:active {
  background-color: #ddd;
}

/* Estilo para la respuesta incorrecta */
.answer-option.incorrect {
  background-color: red;
  color: white;
}

/* Estilo para la respuesta correcta */
.answer-option.correct {
  background-color: green;
  color: white;
}

/* Estilos específicos para la pantalla de juego */
.style-container-play {
  width: 60% !important;
  height: 90% !important;
}

/* Media query para pantallas pequeñas */
@media (max-width: 900px) {
  .style-container-play {
    width: 90% !important; /* Hace que el contenedor ocupe un 90% del ancho en pantallas pequeñas */
  }
  .questioanry-logo{
    margin-bottom: 5%;
  }
  .contenedor__principal {
    margin-left: 20px !important;
  }
  .container {
    width: 100% !important;
    margin-bottom: 1% !important;
    padding-bottom: 10px;
  }
  
  /* Ajusta el tamaño del título */
  .question h2 {
    font-size: 20px;
  }

  .answer-option {
    width: 200px !important;
    height: 65px !important;
    font-size: 16px;
  }

  /* Ajuste de espaciado entre las respuestas */
  .answers {
    gap: 12px;
  }

  /* Mover el botón de hamburguesa al lado del logo */
  .contenedor-pantallas-cichas {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .div-logo {
    margin-right: 10px; /* Espaciado entre el logo y el botón de hamburguesa */
  }
}

/* Media query para pantallas muy pequeñas (teléfonos muy pequeños) */
@media (max-width: 480px) {
  .question h2 {
    font-size: 18px; /* Reduce aún más el tamaño del título */
  }

  .answer-option {
    font-size: 14px; /* Disminuye el tamaño de la fuente de las opciones */
    padding: 8px 15px; /* Reduce el padding para opciones más compactas */
    height: auto; /* Permite que la altura se ajuste dinámicamente */
  }
}

/* Estilos para el modal */
.modal-header {
  background: linear-gradient(to right, #744fda, #6d90a0) !important;
}

/* Estilos para el puntaje del usuario */
.points-user {
  background: linear-gradient(to right, #744fda, #6d90a0) !important;
  color: #ffffff;
  font-weight: bold;
}

/* Estilo para el contenedor principal */
.contenedor__principal {
  flex: 1;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  height: 100vh;
  overflow-y: auto;
}

.contenedor__sidebar {
  margin-top: 0px !important;
}

.contenedor-flex {
  display: flex;
  margin-top: 0px;
}
.footer-style {
  background: linear-gradient(to right, #4f3596, #37535f);
  text-align: center;
  padding: 20px 0; /* Añade un poco de espacio alrededor del contenido */
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #d1d1d1;
}

.footer ul {
  width: 300px;
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li {
  display: inline-block;
}

.contacto-texto {
  color: white;
  padding-bottom: 10px;
  font-size: 1.3rem;
}

.dataTables_wrapper {
  background-color: #4c6b8aa1;
  color: white !important;
}

.dataTables_wrapper .dataTables_length select {
  background-color: #4c6b8aa1 !important;
}
.navbar-toggler{
  margin-right: 5%;
}
.btn-play-style{
  width: 300px;
  margin-bottom: 3%;
}